<div class="wrapper">
  <div class="container">
    <mat-card>
      <div>
        <div>
          <div class="title">
              <h1>Chatchannels</h1>
          <button mat-button [routerLink]="['../create-channel']">Create new Channel</button>
		</div>
		<div class="align">
			<h2>My channels</h2>
			<br>
			<button mat-button [routerLink]="['../all-channels']">All Channels</button>
		</div>
          <div *ngIf="(channels$|async)?.items?.length > 0; else no_channels" class="channels">
            <mat-selection-list [multiple]="false" (selectionChange)="onSelectChannel($event)">
              <mat-list-option *ngFor="let channel of (channels$ | async)?.items" [value]="channel">
                Name: {{channel.name}} Id: {{channel.id}}
                <mat-divider></mat-divider>
              </mat-list-option>
            </mat-selection-list>
            <mat-paginator [length]="(channels$ | async)?.meta?.totalItems" [pageIndex]="(channels$ | async)?.meta?.currentPage"
              [pageSize]="(channels$ | async)?.meta?.itemsPerPage" (page)="onPaginateChannels($event)"
              ></mat-paginator>
          </div>
        </div>
        <div class="chatchannel">
          <app-chat-channel [chatChannel]="selectedChannel"></app-chat-channel>
        </div>
      </div>
    </mat-card>
  </div>

  <ng-template #no_channels>
      <mat-error>No Chatchannels for you so far, please create one or get invited</mat-error>
  </ng-template>
</div>