<div class="wrapper">
  <div class="container">
	<div class="dashboard">
		<a [routerLink]="['../dashboard']">Go to Dashboard</a>
	  </div>
    <mat-card>
      <div>
        <div>
          <div class="title">
              <h1>All chatchannels</h1>
		</div>
          <div *ngIf="(channels$|async)?.items?.length > 0; else no_channels" class="channels">
            <mat-selection-list [multiple]="false" (selectionChange)="addUserToChannel($event)">
              <mat-list-option *ngFor="let channel of (channels$ | async)?.items" [value]="channel">
                Name: {{channel.name}} Id: {{channel.id}} 
                <mat-divider></mat-divider>
              </mat-list-option>
            </mat-selection-list>
            <mat-paginator [length]="(channels$ | async)?.meta?.totalItems" [pageIndex]="(channels$ | async)?.meta?.currentPage"
              [pageSize]="10" (page)="onPaginateChannels($event)"
              ></mat-paginator>
          </div>
        </div>
        <div class="chatchannel">
          <app-add-user-channel [joinChannel]="selectedChannel" [InChannel]="InChannel"></app-add-user-channel>
        </div>
      </div>
    </mat-card>
  </div>

  <ng-template #no_channels>
      <mat-error>No Chatchannels for you so far, please create one or get invited</mat-error>
  </ng-template>
</div>